<div class="contentbottom">
  <div class="contentsep"><img src="images/spacer.gif" alt="" border="0" /></div>
  <div class="greenbox">
    <div class="greenbox_con">
      <div class="headingcontent">Special Number Two:</div>
      <span class="fontitalic"> Lorem ipsum dolor sit amet, </span> </div>
    <button id="submitButton" class="greenButton" onclick="return false;" type="submit">Waiting</button>
  </div>
  <div class="contentsep"><img src="images/spacer.gif" alt="" border="0" /></div>
  <div class="greybox">
    <div class="greybox_con">
      <div class="headingcontent">Special Number Two:</div>
      <span class="fontitalic"> Lorem ipsum dolor sit amet, </span> </div>
    <button id="submitButton" class="greyButton" onclick="return false;" type="submit">Waiting</button>
  </div>
  <div class="contentsep"><img src="images/spacer.gif" alt="" border="0" /></div>
  <div class="redbox">
    <div class="redbox_con">
      <div class="headingcontent">Special Number Two:</div>
      <span class="fontitalic"> Lorem ipsum dolor sit amet, </span> </div>
    <button id="submitButton" class="redButton" onclick="return false;" type="submit">Waiting</button>
  </div>
  <div class="contentsep"><img src="images/spacer.gif" alt="" border="0" /></div>
  <div class="bluebox">
    <div class="bluebox_con">
      <div class="headingcontent">Special Number Three:</div>
      <span class="fontitalic"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus libero.bibendum interdum, nisl arcu pellen </span> </div>
    <button id="submitButton" class="blueButton" onclick="return false;" type="submit">Waiting</button>
  </div>
  <div class="blueboxafter"><img src="images/spacer.gif" alt="" border="0" /></div>

</div>