@charset "utf-8";
/* CSS Document */
body { background:url(../images/bg.jpg) repeat-x; background-color: #0E0002; font-family: Arial, Verdana, Tahoma;; font-size: 14px;
/*       color: #454547; */
color: #AFAFAF;
       margin: 0px; padding: 0px; }
form{ margin: 0px; padding: 0px;}
#wrapper { 
    width:886px;
    position:relative;    
    margin:auto auto;
}
.floatleft{ float:left; }
.topspacer { float:left; width:886px; height:8px; }

.mainblackborder{ float:left; width: 876px; border: 5px solid #000002; margin: 0px; padding: 0px; clear:both; display:inline; }
.header{ float:left; width:876px; }
.headertopbg { float:left; background: url(../images/headertopbg.jpg) repeat-x; width: 876px; height: 16px;}

.header div.headerleft { float:left; width:294px;}
.header div.headerright { float:left; width:582px;}
.security_image { float:left; width:582px;}
.headermiddlebg { float:left; background: url(../images/headermiddlebg.jpg) repeat-x; width: 582px; height: 15px;}
.headerlast { float:left; width:582px;}
.menuphone{ float:left; width:582px; }

.menubg { float:left; list-style-type:none; display:inline; margin:0px; padding:0px; vertical-align:top; }
.menubg ul { float:left; list-style-type:none; display:inline; margin:0px; padding:0px; width:397px; }
.menubg li { margin:0px; float:left; list-style-type:none; display:inline; text-align:center; vertical-align:top; padding:0px; height: 36px; }

.menubg li a.products { display: block; background: url(../images/productslink.jpg) no-repeat; width: 101px; height: 36px; text-decoration: none; }
.menubg li a.products:hover{ background-position: 0px -36px; text-decoration: none; }

.menubg li a.services { display: block; background: url(../images/serviceslink.jpg) no-repeat; width: 102px; height: 36px; text-decoration: none; }
.menubg li a.services:hover{ background-position: 0px -36px; text-decoration: none; }

.menubg li a.about { display: block; background: url(../images/aboutlink.jpg) no-repeat; width: 91px; height: 36px; text-decoration: none; }
.menubg li a.about:hover{ background-position: 0px -36px; text-decoration: none; }

.menubg li a.contact { display: block; background: url(../images/contactlink.jpg) no-repeat; width: 103px; height: 36px; text-decoration: none; }
.menubg li a.contact:hover{ background-position: 0px -36px; text-decoration: none; }

.menuphone div.phonenumber { width: 185px; height: 36px; }
.usaflag { position:absolute; left:837px; top: 22px; }

.middlecontent { float:left; width: 876px; min-height: 300px; background: url(../images/middlebg.jpg); display:inline; }
.middlecontent div.spacerdiv { width: 876px; height: 20px;}


.middlecontent div.left { float:left; width: 30px;}
.middlecontent div.leftbox { float:left; width: 260px;}
.middlecontent div.leftboxafter { float:left; width: 28px;}
.middlecontent div.middlebox { float:left; width: 556px;}
.middlecontent div.middleboxafter { float:left; width: 2px;}

.contenttop, .contentmiddle, .contentbottom { float:left; width: 556px; clear:none; }

.middlecontent div.topic { float:left; width: 278px; }
.topic1_head { float:left; width: 278px; clear:both; }

.ourcommitment { float:left; padding-left: 15px; padding-top: 52px; padding-bottom: 18px; width: 245px; clear:both; }
.leftboxtop{ float:left; border: 1px solid #333254; width: 258px; height: 319px; background:url(../images/leftboxtopbg.jpg) no-repeat; background-position:bottom; background-color: #1C1A25; background-attachment:scroll; }

.leftbox1_con{ clear:both; text-align:left; line-height: 160%; color: #EAEBF3; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; }
.leftbox1_con p{ line-height: 160%; color: #EAEBF3; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.leftbox1_con a{ color: #FFFFCC; text-decoration: none; }
.leftbox1_con a:hover{ text-decoration: underline; }
.leftbox1_con ol{ line-height:160%; }
.leftbox1_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.leftbox1_con ul{ line-height:130%; list-style-type:none; }
.leftbox1_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }

.leftbox1_padding { padding-left:22px; padding-right:22px; padding-top:15px; padding-bottom:15px; }
.leftbox2_padding { padding-left:143px; padding-right:15px; padding-top:20px; padding-bottom:15px; }

.leftbox3_padding { float:left; padding-left:150px; padding-right:15px; padding-top:20px; padding-bottom:15px; width: 93px; }
.leftboxbullet { float:left; padding-left: 0px; width: 8px; margin-top: 5px; clear:both; }
.leftboxbulletcontent{ float:left; width: 75px; padding-left:8px; padding-top:0px; padding-bottom:5px; text-align:left; line-height: 160%; color: #F8F8FF; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; display:inline; }

.leftboxbulletcontent a{ color: #FFFFCC; text-decoration: none; }
.leftboxbulletcontent a:hover{ text-decoration: underline; }

.boxsep { float:left; width: 258px; height: 20px; }
.contentsep { float:left; width: 556px; height: 20px; }

.redboxafter, blueboxafter { float:left; width: 26px; }

.redbox {
        margin-left: 10px;
        float:left; background-color: #2B1117; border: 1px solid #491116; width: 450px; min-height: 150px; }
.redbox_con{ clear:both; padding-left:15px; padding-right:15px; padding-top:15px; padding-bottom:15px; text-align:left; line-height: 160%; color: #FD030C; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; }
.redbox_con p{ line-height: 160%; color: #FD030C; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.redbox_con a{ color: #FFFFCC; text-decoration: none; }
.redbox_con a:hover{ text-decoration: underline; }
.redbox_con ol{ line-height:160%; }
.redbox_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.redbox_con ul{ line-height:130%; list-style-type:none; }
.redbox_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }
.redbox_con div.headingcontent { color:#E7BFC1; font-weight: bold; padding-bottom: 8px; }


.bluebox {
        margin-left: 10px;
        float:left; background-color: #13121F; border: 1px solid #14143D; width: 450px; min-height: 150px; }
.bluebox_con{ clear:both; padding-left:15px; padding-right:15px; padding-top:15px; padding-bottom:15px; text-align:left; line-height: 160%; color: #4047FB; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; }
.bluebox_con p{ line-height: 160%; color: #4047FB; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.bluebox_con a{ color: #FFFFCC; text-decoration: none; }
.bluebox_con a:hover{ text-decoration: underline; }
.bluebox_con ol{ line-height:160%; }
.bluebox_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.bluebox_con ul{ line-height:130%; list-style-type:none; }
.bluebox_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }
.bluebox_con div.headingcontent { color:#D5D7F3; font-weight: bold; padding-bottom: 8px; }

.leftboxbottom{ float:left; border: 1px solid #333254; width: 258px; min-height: 92px; background:url(../images/leftboxbottombg.jpg) no-repeat; background-position:bottom; background-color: #1C1A25; }
.leftboxbottom div.headingcontent { color:#E7BFC1; font-weight: bold; padding-bottom: 8px; }


.home_main_con{ clear:both; padding-left:0px; padding-right:30px; padding-top:5px; padding-bottom:15px; text-align:left; line-height: 18px; color: #CECEEE; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; }
.home_main_con p{ line-height: 18px; color: #CECEEE; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.home_main_con a{ color: #FFFFCC; text-decoration: none; }
.home_main_con a:hover{ text-decoration: underline; }
.home_main_con ol{ line-height:160%; }
.home_main_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.home_main_con ul{ line-height:130%; list-style-type:none; }
.home_main_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }


.middlecontent div.img1 { float:left; width: 252px; clear:both; padding-right: 22px; margin-top: 0px; }
.middlecontent div.img2 { float:left; width: 252px; padding-right: 22px;  margin-top: 0px; }

.footer{ width: 876px; }
.footerbeforespacer { float:left; width: 876px; height: 76px; }
.footerbeforebg { float:left; background: url(../images/footerbeforebg.jpg) repeat-x; width: 876px; height: 16px; margin: 0px; padding: 0px; display: inline;}

.footerbg { float:left; background-color: #08071A; width: 876px; height: 60px;}
.footerbg div.footerleft { float:left; width: 438px;}
.footerbg div.footerright { float:left; width: 438px;}

.footercontent{ padding-top:33px; padding-left:20px; padding-right:20px; padding-bottom:10px; color:#5A5E87; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; font-weight: normal; line-height:160%; }
.footercontent a{ color: #5A5E87; text-decoration: none;}
.footercontent a:hover{ text-decoration: underline;}
.linkpadding{ padding-left:3px; padding-right:6px; }
.footerbottom { float:left; width: 886px; height: 24px; }

.fontcolor1{ color:#000000;}
.fontcolor2{ color:#FFFFFF;}
.fontcolor3{ color:#F7A5B4;}
.fontcolor4{ color:#F8F8FF;}
.fontcolor5{ color:#A5ACF7;}
.fontcolor6{ color:#FCA6A7;}
.fontcolor7{ color:#A6B2FC;}

.fontitalic { font-style:italic; }

.bgcolor1{background-color:#000000;}
.bgcolor2{background-color:#FFFFFF;}
.alignleft { text-align:left;}
.alignright { text-align:right;}
.fontbold{ font-weight:bold; }

/*for inner*/
.middlecontent div.spacerdivinner { width: 876px; height: 60px;}
.middlecontent div.innerleftbox { float:left; width: 252px;}
.middlecontent div.innermiddlebox { float:left; width: 566px;}
.inner_head { float:left; width: 546px; margin-left: 20px; margin-bottom: 30px;  display:inline; }

.innerleftbox div.img1 { float:left; width: 252px; clear:both; }
.innerleftbox2 { float:left; background-color: #0B0A0E; border: 1px solid #2F2F3B; width: 250px; min-height: 96px; }

.innerround { float:left; padding-left: 25px; width: 10px; margin-top: 10px; }
.innercontentleft { float:left; width: 215px; }
.beforeaftercontent { width: 250px; height: 25px;}

.main_con{ clear:both; padding-left:20px; padding-right:20px; padding-top:5px; padding-bottom:15px; text-align:left; line-height: 160%; color: #E9DEFF; font-family: Verdana, Tahoma, Arial; font-size: 11px; text-decoration: none; }
.main_con p{ line-height: 160%; color: #E9DEFF; font-family: Verdana, Tahoma, Arial; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.main_con a{ color: #FFFFCC; text-decoration: none; }
.main_con a.fcolor1{ color: #F6F1FF; text-decoration: none; }
.main_con a:hover{ text-decoration: underline; }
.main_con ol{ line-height:160%; }
.main_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.main_con ul{ line-height:130%; list-style-type:none; }
.main_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }



.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}

#topstory-img {
    float: left;    
    margin:auto;
        
}
#topstory-img img {
    display: block;
    width:370px;height:250px;
        margin-left:30px;
}
#topstory-txt {
    float: right;
    width: 355px;
    margin-right:30px;
}
#topstory-txt h3 {
    font-size: 140%;
    font-weight: normal;
    margin: 0;
}
#topstory-txt #topstory-info {
    font-size: 90%;
    margin: 0;
}
#topstory-txt .comment {
    background: url("../design/ico-comment.gif") no-repeat scroll 0 2px transparent;
    padding-left: 12px;
}

#searchwrapper {
width:310px; /*follow your image's size*/
height:40px;/*follow your image's size*/
background-image:url("../images/blank.png") no-repeat scroll right top #FFFFFF;
background-repeat:no-repeat; /*important*/
padding:0px;
margin:0px;
position:relative; /*important*/
}

.textInput2 {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    height: 30px;
    /*margin-left: 60px;*/
    margin-left: 5px;
    width: 170px;
}
#searchwrapper form { display:inline ; }

/*.searchbox {
 background: url("../images/tfbg2.gif") no-repeat scroll right top #FFFFFF;
    border: 1px solid #CCCCCC;
    color: gray;
    font-family: Arial,Helvetica,sans-serif;
    margin-left: 60px;
    padding: 5px 30px 5px 0;
    width: 200px;
}*/

.fieldHolder {
    background: url("../images/tfbg2.gif") no-repeat scroll 0 0 transparent;
    margin-top:20px;
    height: 27px;
    width: 182px;
    margin-left:60px;
}

.searchbox_submit {
 background-color: transparent;
    border: 0 none;
    height: 30px;
    margin: -30px -20px 0 155px;
    outline: medium none;
    width: 26px;
}

#search {
    background-color: #1D8CAA;
    margin: 0 0 10px;
    padding: 10px;
}
#search form {
    display: inline;
}

#account_form{
        background-color: #AFAFAF;
        margin: 20px;
        width : 100%;
        height:100%
}

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

.blueButton {
    background: none repeat scroll 0 0 #0063A6;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-right: 50px;
    padding: 5px;
    text-decoration: none;
}

.redButton {
    background: none repeat scroll 0 0 #FD030C;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
   margin-right: 50px;
    padding: 5px;
    text-decoration: none;
}

.greyButton {
    background: none repeat scroll 0 0 #6E6E6E;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-right: 50px;
    padding: 5px;
    text-decoration: none;
}

.greenButton {
    background: none repeat scroll 0 0 #01DF3A;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-right: 50px;
    padding: 5px;
    text-decoration: none;
}


.greybox {
        margin-left: 10px;
        float:left; background-color: #F2F2F2; border: 1px solid #2E2E2E; width: 450px; min-height: 150px; }
.greybox_con{ clear:both; padding-left:15px; padding-right:15px; padding-top:15px; padding-bottom:15px; text-align:left; line-height: 160%; color: #000000; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; }
.greybox_con p{ line-height: 160%; color: #FD030C; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.greybox_con a{ color: #FFFFCC; text-decoration: none; }
.greybox_con a:hover{ text-decoration: underline; }
.greybox_con ol{ line-height:160%; }
.greybox_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.greybox_con ul{ line-height:130%; list-style-type:none; }
.greybox_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }
.greybox_con div.headingcontent { color:#000000; font-weight: bold; padding-bottom: 8px; }


.greenbox {
        margin-left: 10px;
        float:left; background-color: #81F781; border: 1px solid #298A08; width: 450px; min-height: 150px; }
.greenbox_con{ clear:both; padding-left:15px; padding-right:15px; padding-top:15px; padding-bottom:15px; text-align:left; line-height: 160%; color: #000000; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; }
.greenbox_con p{ line-height: 160%; color: #FD030C; font-family: Arial, Verdana, Tahoma; font-size: 11px; text-decoration: none; padding: 0px; margin: 0px; }
.greenbox_con a{ color: #FFFFCC; text-decoration: none; }
.greenbox_con a:hover{ text-decoration: underline; }
.greenbox_con ol{ line-height:160%; }
.greenbox_con ol li{ margin-left:15px; margin-top:5px !important; margin-top:5px; margin-bottom:10px !important; margin-bottom:10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px; }
.greenbox_con ul{ line-height:130%; list-style-type:none; }
.greenbox_con ul li{ background-image: url(../images/list_arrow_y.gif); background-position: 0 5px; background-repeat: no-repeat; margin-left:-15px; margin-top:-5px !important; margin-top:-15px; margin-bottom:10px !important; margin-bottom:20px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 18px; }
.greenbox_con div.headingcontent { color:#000000; font-weight: bold; padding-bottom: 8px; }




