<h1 style="width:300px;">Your account settings</h1> 
<div class="buttons">
  <button id="submitButton" class="greyButton" style=" float:right; margin-top: -40px; margin-right:350px" onclick="window.location = '/borrower_page'" >Borrower Page</button>
  <button id="submitButton" class="greyButton" style=" float:right; margin-top: -40px; margin-right:200px" onclick="window.location = '/sender_page'" >Lender Page</button>

  <!--<a href="/sender_page" class="regular" style="float:right; margin-top: -40px; margin-right:200px">
    <img src="images/textfield_key.png" alt=""/>
    Lender Page
  </a>-->
  <!--  <button type="submit" class="positive" name="save">
       <img src="images/apply2.png" alt=""/>
       Save
   </button>



   <a href="#" class="negative">
       <img src="images/cross.png" alt=""/>
       Cancel
   </a>-->
</div>

<%= render 'form' %>

<%= link_to 'Back', root_url %>
