<div class="loginBox">
  <% if current_user %>
  <div style="float:left;">Hello <%= link_to current_user, "../account_settings" %>, </div><div style="float:right;margin-left:7px;"> <%= button_to 'Sign out', current_user, :method=>:delete, :class => 'greyShadebutton' %></div>
  <% else %>
    Hi Lookshelf user, please <%#= link_to 'login!', new_user_path %> <%=raw RPXNow.popup_code('Sign in','lookshelf', users_url, :class => 'greyShadebutton') %>
    
  <% end %>
</div>